@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    /*
    outline: 2px solid green;
    */
}
::selection {
    background: #fff;
    color: #4c96ed;
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #6CACEA; }
::-webkit-scrollbar-thumb { background: #4c96ed; }

#nginx {
    position: absolute;
    font-weight: 700;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 4;
}
@media screen and (max-width: 280px) {
    #nginx { font-size: 5.5vw; }
    #content { 
        min-height: calc(84%) !important; 
        margin-bottom: 50px !important;
    }
}

#layout {
    display: grid;
    grid-template-rows: 220px 1fr;
    position: absolute;
    min-width: calc(100vw - 10px);
    min-height: 100vh;
    width: 100%;
    height: fit-content;
    position: relative;
}
#layout > nav {
    display: flex;
    justify-content: center;
    background: #6CACEA;
    position: relative;
    overflow: hidden;
    user-select: none;
}

#layout > nav img {
    height: calc(100% + 50px);
}
@media screen and (max-width: 1330px) { #layout > nav img { content: url("/assets/dockhostbanner-md.svg"); } }
@media screen and (max-width: 900px) { #layout > nav img { content: url("/assets/dockhostbanner-sm.svg"); } }
@media screen and (max-width: 600px) { #layout > nav img { content: url("/assets/dockhostbanner-xsm.svg"); } }
@media screen and (max-width: 375px) { #layout > nav img { content: url("/assets/dockhostbanner-mobile.svg"); } }

#layout > nav div {
    height: 15px;
    width: 200%;
    position: absolute;
    left: -100%;
    bottom: 0px;
    background: url("/assets/waves.svg");
    background-repeat: repeat-x;
    background-position: bottom;
    animation: waveMove 10s linear infinite;
}
@keyframes waveMove {
    0% {
        left: -100%;
    }
    100% {
        left: calc(-100% + 241px);
    }
}

#layout > main {
    width: 100%;
    background: #4c96ed;
    position: relative;
    height: 100%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}